.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 5px dotted #fff;
  color: #282828;
  font-family: 'Finger Paint', cursive;
  font-size: 1.8rem;
  font-weight: 400;
}

.bookshelf-books {
  text-align: center;
}