.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 4px solid #dedede;
  color: rgba(28,28,28,0.8);
  mix-blend-mode: multiply;
}

.bookshelf-books {
  text-align: center;
}