.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

/* Open search */

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search-link {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #791a0b;
  background-image: url('../../assets/icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  transition: transform 0.4s;
}

.open-search-link:hover {
  transform: rotateZ(90deg);
  transition: transform 0.4s;
}