.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.9rem;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #f8003d;
  font-weight: 700;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
  transform: scale(0.9);
  transform-origin: bottom;
  transition: transform 0.2s;
}

.book-top:hover {
  transform: scale(1);
  transition: transform 0.2s;
}

/* book cover */

.book-cover {
  overflow: hidden;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

/* bookmark */

.bookmark {
  background-color: #af2b2b;
  background-image: linear-gradient(to bottom, #af2b2b 10%, #c43030 90%, #d43434);
  clip-path: polygon(0 0, 0 100%, 50% 90%, 100% 100%,100% 0);
  height: 90%;
  left: 0;
  position: relative;
  transform: translateY(-110%);
  transition: transform 0.2s ease-out;
  width: 20%;

  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  -webkit-text-orientation: upright;
  text-orientation: upright;
  padding-top: .4rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, .5);
  letter-spacing: 0.1rem;
}

.bookmark.isShowing {
  transform: translateY(0);
  transition: transform 0.6s ease-in;
}

.bookmark.isShowing::after {
  content: 'SAVING';
}

