/* gandalf: You shall no pass! (blocks the UI, no user input allowed) */

.gandalf {
  cursor: wait;
  display: flex;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.gandalf.isBlocking {
  pointer-events: none;
  z-index: 3;
}
